@font-face {
    font-family: "MeineFont";
    src: url("assets/fonts/CircularStd-Book.woff2") format('woff2');
}

html, body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
}
